<div class="container">
  <div class="row results-block">
    <%= render 'layouts/messages' %>
  </div>
</div>

<% if @friend %>
  <div class="card card-header results-block">
    <strong>Name </strong> <%= @friend %>
    <strong>Email </strong> <%= @friend %>
    <strong>Placeholder </strong> <%= @friend %>
    <%= link_to 'Follow Friend', '#', class: "btn btn-success", method: :post %>
  </div>
<% end %>